*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Poppins', sans-serif;
}

body {
   
    background-color: rgb(255,208,165,1);
  }
  
  
  .logo {
    width: 100%; /* Ajusta el tamaño de tu logo según sea necesario */
    max-width: 10rem;
    padding: 10px;
    margin: 0 0 0 10px;
    
    display: flex;
  }
  
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(255,208,165,1);
    box-shadow: #838383;
    width: 100%;
    
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;

    display: flex;
    flex-direction: column;
}


/*LANDING DE CURSOS*/

main.contenido-curso{
   
    margin-top: -75px;
    width: 50%;
    display: flex;
}

div.container-cursos{
    display: flex;
    gap: 25px;
    
}

article.titulo-principal-cursos{
    width: 90%;
    height: 170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section.caja-cursos{
    width: 100%;
    height: 90%;
    padding: 20px;
    
    background-color:#fbf8f8;
    color: black;
    font-weight: 100;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #838383;

    display: flex;
    flex-direction: column;
}

div.button-curso{
    width: 100%;
    margin-top: -6px;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.button-curso input{
    margin: 25px;
    margin-bottom: 7px;
    width: 213px;
    padding: 15px;
    
    color: #ffff;
    background-color: black;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 0 1px 0 rgb(5, 5, 5);

    display: flex;
    flex-direction: row;
}

.button-curso input:hover{
    background-color: brown;
}

h4.titulo-curso{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.caja-cursos p{
    font-size: 1em;
    font-weight: 400;
    text-align:justify;
    padding: 10px;
    
}

a{
    text-decoration: none;
}

/*BOTON LIKE*/

.button-curso div{
    display: flex;
    align-items: center;
}
.heart{
font-size: 20px;
   color: black;
   cursor: pointer;
}

.heart.red{
    color: red;
    
}



/*MEDIA QUERIES*/


   
